

    <div class="sidebar">
      <div class="sidebar-wrapper">
        
        <div class="logo" style="text-align: center; color: white; padding: 14px;" >
          <!-- <a target="_blank" 
             href="https://www.creative-tim.com/product/black-dashboard-django" class="simple-text logo-mini">
            BD
          </a> -->
          <a style="text-align: center;">
            DavidLyster.com
          </a>
        </div>

        <ul class="nav">
          <li class="active ">
            <a href="/">
              <i class="tim-icons icon-chart-pie-36"></i>
              <p>Home</p>
            </a>
          </li>
          <li>
            <a href="/cv_page.html">
              <i class="tim-icons icon-single-02"></i>
              <p>Resume</p>
            </a>
          </li>
          <li>
            <a href="/stocks/">
              <i class="tim-icons icon-bulb-63"></i>
              <p>Stock Tracker</p>
            </a>
          </li>
          <li>
            <a href="/twitterapp/">
              <i class="tim-icons icon-caps-small"></i>
              <p>Twitter</p>
            </a>
          </li>
          <li>
            <a href="/searcher/">
              <i class="tim-icons icon-caps-small"></i>
              <p>A* Search Visualisation</p>
            </a>
          </li>
        </ul>
        
      </div>
    </div>
