{% extends 'layouts/base.html' %}
{% load static %}

{% block title %} Resume {% endblock %} 

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<!-- xyxy this is all based off ui-typography.html  -->
<div class="row">
  <div class="col-md-12">
    <div class="card">
      <div class="card-header mb-5" style="margin-bottom: 1.5rem !important;">
        <h3 class="card-title" style="font-weight: bold;">My Resume</h3>
        <h5 class="card-category" style=" text-transform: none;">Was going to make my own front end to display a copy of my cv but decided to go with a neat iFrame instead which also allows you to download the pdf</h5>
      </div>
      <div class="card-body">

        <!-- iFrame for the cv pdf -->
        <div>
          <iframe src="{% static 'assets/img/DavidLysterCV.pdf' %}#view=FitH" style="width:100%; height:700px; border: none;"></iframe>
        </div>

      </div>
    </div>
  </div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}{% endblock javascripts %}
